// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as SimulationsAPI from './simulations';
import * as AccountStatementsAPI from '../account-statements';
import * as CardPaymentsAPI from '../card-payments';
import * as CardTokensAPI from '../card-tokens';
import * as DeclinedTransactionsAPI from '../declined-transactions';
import * as ExportsAPI from '../exports';
import * as InboundACHTransfersAPI from '../inbound-ach-transfers';
import * as InboundFednowTransfersAPI from '../inbound-fednow-transfers';
import * as InboundMailItemsAPI from '../inbound-mail-items';
import * as InboundRealTimePaymentsTransfersAPI from '../inbound-real-time-payments-transfers';
import * as InboundWireDrawdownRequestsAPI from '../inbound-wire-drawdown-requests';
import * as InboundWireTransfersAPI from '../inbound-wire-transfers';
import * as PendingTransactionsAPI from '../pending-transactions';
import * as ProgramsAPI from '../programs';
import * as AccountTransfersAPI from './account-transfers';
import { AccountTransfers } from './account-transfers';
import * as ACHTransfersAPI from './ach-transfers';
import {
  ACHTransferCreateNotificationOfChangeParams,
  ACHTransferReturnParams,
  ACHTransferSettleParams,
  ACHTransfers,
} from './ach-transfers';
import * as CardAuthenticationsAPI from './card-authentications';
import {
  CardAuthenticationCreateChallengeAttemptParams,
  CardAuthenticationCreateParams,
  CardAuthentications,
} from './card-authentications';
import * as CardDisputesAPI from './card-disputes';
import { CardDisputeAdvanceStateParams, CardDisputes } from './card-disputes';
import * as CheckDepositsAPI from './check-deposits';
import { CheckDepositAdjustParams, CheckDepositSubmitParams, CheckDeposits } from './check-deposits';
import * as CheckTransfersAPI from './check-transfers';
import { CheckTransfers } from './check-transfers';
import * as InboundCheckDepositsAPI from './inbound-check-deposits';
import {
  InboundCheckDepositAdjustParams,
  InboundCheckDepositCreateParams,
  InboundCheckDeposits,
} from './inbound-check-deposits';
import * as SimulationsPendingTransactionsAPI from './pending-transactions';
import { PendingTransactions } from './pending-transactions';
import * as PhysicalCardsAPI from './physical-cards';
import {
  PhysicalCardAdvanceShipmentParams,
  PhysicalCardCreateTrackingUpdateParams,
  PhysicalCards,
} from './physical-cards';
import * as RealTimePaymentsTransfersAPI from './real-time-payments-transfers';
import {
  RealTimePaymentsTransferCompleteParams,
  RealTimePaymentsTransfers,
} from './real-time-payments-transfers';
import * as WireDrawdownRequestsAPI from './wire-drawdown-requests';
import { WireDrawdownRequest, WireDrawdownRequests } from './wire-drawdown-requests';
import * as WireTransfersAPI from './wire-transfers';
import { WireTransfer, WireTransfers } from './wire-transfers';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Simulations extends APIResource {
  accountTransfers: AccountTransfersAPI.AccountTransfers = new AccountTransfersAPI.AccountTransfers(
    this._client,
  );
  achTransfers: ACHTransfersAPI.ACHTransfers = new ACHTransfersAPI.ACHTransfers(this._client);
  cardAuthentications: CardAuthenticationsAPI.CardAuthentications =
    new CardAuthenticationsAPI.CardAuthentications(this._client);
  cardDisputes: CardDisputesAPI.CardDisputes = new CardDisputesAPI.CardDisputes(this._client);
  checkDeposits: CheckDepositsAPI.CheckDeposits = new CheckDepositsAPI.CheckDeposits(this._client);
  checkTransfers: CheckTransfersAPI.CheckTransfers = new CheckTransfersAPI.CheckTransfers(this._client);
  inboundCheckDeposits: InboundCheckDepositsAPI.InboundCheckDeposits =
    new InboundCheckDepositsAPI.InboundCheckDeposits(this._client);
  pendingTransactions: SimulationsPendingTransactionsAPI.PendingTransactions =
    new SimulationsPendingTransactionsAPI.PendingTransactions(this._client);
  physicalCards: PhysicalCardsAPI.PhysicalCards = new PhysicalCardsAPI.PhysicalCards(this._client);
  realTimePaymentsTransfers: RealTimePaymentsTransfersAPI.RealTimePaymentsTransfers =
    new RealTimePaymentsTransfersAPI.RealTimePaymentsTransfers(this._client);
  wireDrawdownRequests: WireDrawdownRequestsAPI.WireDrawdownRequests =
    new WireDrawdownRequestsAPI.WireDrawdownRequests(this._client);
  wireTransfers: WireTransfersAPI.WireTransfers = new WireTransfersAPI.WireTransfers(this._client);

  /**
   * Simulates the fuel confirmation of an authorization by a card acquirer. This
   * happens asynchronously right after a fuel pump transaction is completed. A fuel
   * confirmation can only happen once per authorization.
   *
   * @example
   * ```ts
   * const cardPayment =
   *   await client.simulations.confirmFuelAuthorization({
   *     amount: 5000,
   *     card_payment_id: 'card_payment_nd3k2kacrqjli8482ave',
   *   });
   * ```
   */
  confirmFuelAuthorization(
    body: SimulationConfirmFuelAuthorizationParams,
    options?: RequestOptions,
  ): APIPromise<CardPaymentsAPI.CardPayment> {
    return this._client.post('/simulations/card_fuel_confirmations', { body, ...options });
  }

  /**
   * Simulates an [Account Statement](#account-statements) being created for an
   * account. In production, Account Statements are generated once per month.
   *
   * @example
   * ```ts
   * const accountStatement =
   *   await client.simulations.createAccountStatement({
   *     account_id: 'account_in71c4amph0vgo2qllky',
   *   });
   * ```
   */
  createAccountStatement(
    body: SimulationCreateAccountStatementParams,
    options?: RequestOptions,
  ): APIPromise<AccountStatementsAPI.AccountStatement> {
    return this._client.post('/simulations/account_statements', { body, ...options });
  }

  /**
   * Simulates a purchase authorization on a [Card](#cards). Depending on the balance
   * available to the card and the `amount` submitted, the authorization activity
   * will result in a [Pending Transaction](#pending-transactions) of type
   * `card_authorization` or a [Declined Transaction](#declined-transactions) of type
   * `card_decline`. You can pass either a Card id or a
   * [Digital Wallet Token](#digital-wallet-tokens) id to simulate the two different
   * ways purchases can be made.
   *
   * @example
   * ```ts
   * const response =
   *   await client.simulations.createCardAuthorization({
   *     amount: 1000,
   *   });
   * ```
   */
  createCardAuthorization(
    body: SimulationCreateCardAuthorizationParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCreateCardAuthorizationResponse> {
    return this._client.post('/simulations/card_authorizations', { body, ...options });
  }

  /**
   * Simulates a balance inquiry on a [Card](#cards).
   *
   * @example
   * ```ts
   * const cardPayment =
   *   await client.simulations.createCardBalanceInquiry();
   * ```
   */
  createCardBalanceInquiry(
    body: SimulationCreateCardBalanceInquiryParams,
    options?: RequestOptions,
  ): APIPromise<CardPaymentsAPI.CardPayment> {
    return this._client.post('/simulations/card_balance_inquiries', { body, ...options });
  }

  /**
   * Simulates tokenizing a card in the sandbox environment.
   *
   * @example
   * ```ts
   * const cardToken =
   *   await client.simulations.createCardToken();
   * ```
   */
  createCardToken(
    body: SimulationCreateCardTokenParams,
    options?: RequestOptions,
  ): APIPromise<CardTokensAPI.CardToken> {
    return this._client.post('/simulations/card_tokens', { body, ...options });
  }

  /**
   * Simulates a user attempting to add a [Card](#cards) to a digital wallet such as
   * Apple Pay.
   *
   * @example
   * ```ts
   * const response =
   *   await client.simulations.createDigitalWalletTokenRequest({
   *     card_id: 'card_oubs0hwk5rn6knuecxg2',
   *   });
   * ```
   */
  createDigitalWalletTokenRequest(
    body: SimulationCreateDigitalWalletTokenRequestParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCreateDigitalWalletTokenRequestResponse> {
    return this._client.post('/simulations/digital_wallet_token_requests', { body, ...options });
  }

  /**
   * Simulates an inbound ACH transfer to your account. This imitates initiating a
   * transfer to an Increase account from a different financial institution. The
   * transfer may be either a credit or a debit depending on if the `amount` is
   * positive or negative. The result of calling this API will contain the created
   * transfer. You can pass a `resolve_at` parameter to allow for a window to
   * [action on the Inbound ACH Transfer](https://increase.com/documentation/receiving-ach-transfers).
   * Alternatively, if you don't pass the `resolve_at` parameter the result will
   * contain either a [Transaction](#transactions) or a
   * [Declined Transaction](#declined-transactions) depending on whether or not the
   * transfer is allowed.
   *
   * @example
   * ```ts
   * const inboundACHTransfer =
   *   await client.simulations.createInboundACHTransfer({
   *     account_number_id:
   *       'account_number_v18nkfqm6afpsrvy82b2',
   *     amount: 1000,
   *   });
   * ```
   */
  createInboundACHTransfer(
    body: SimulationCreateInboundACHTransferParams,
    options?: RequestOptions,
  ): APIPromise<InboundACHTransfersAPI.InboundACHTransfer> {
    return this._client.post('/simulations/inbound_ach_transfers', { body, ...options });
  }

  /**
   * Simulates an [Inbound FedNow Transfer](#inbound-fednow-transfers) to your
   * account.
   *
   * @example
   * ```ts
   * const inboundFednowTransfer =
   *   await client.simulations.createInboundFednowTransfer({
   *     account_number_id:
   *       'account_number_v18nkfqm6afpsrvy82b2',
   *     amount: 1000,
   *   });
   * ```
   */
  createInboundFednowTransfer(
    body: SimulationCreateInboundFednowTransferParams,
    options?: RequestOptions,
  ): APIPromise<InboundFednowTransfersAPI.InboundFednowTransfer> {
    return this._client.post('/simulations/inbound_fednow_transfers', { body, ...options });
  }

  /**
   * Simulates an inbound mail item to your account, as if someone had mailed a
   * physical check to one of your account's Lockboxes.
   *
   * @example
   * ```ts
   * const inboundMailItem =
   *   await client.simulations.createInboundMailItem({
   *     amount: 1000,
   *     lockbox_id: 'lockbox_3xt21ok13q19advds4t5',
   *   });
   * ```
   */
  createInboundMailItem(
    body: SimulationCreateInboundMailItemParams,
    options?: RequestOptions,
  ): APIPromise<InboundMailItemsAPI.InboundMailItem> {
    return this._client.post('/simulations/inbound_mail_items', { body, ...options });
  }

  /**
   * Simulates an
   * [Inbound Real-Time Payments Transfer](#inbound-real-time-payments-transfers) to
   * your account. Real-Time Payments are a beta feature.
   *
   * @example
   * ```ts
   * const inboundRealTimePaymentTransfer =
   *   await client.simulations.createInboundRealTimePaymentsTransfer(
   *     {
   *       account_number_id:
   *         'account_number_v18nkfqm6afpsrvy82b2',
   *       amount: 1000,
   *     },
   *   );
   * ```
   */
  createInboundRealTimePaymentsTransfer(
    body: SimulationCreateInboundRealTimePaymentsTransferParams,
    options?: RequestOptions,
  ): APIPromise<InboundRealTimePaymentsTransfersAPI.InboundRealTimePaymentTransfer> {
    return this._client.post('/simulations/inbound_real_time_payments_transfers', { body, ...options });
  }

  /**
   * Simulates receiving an
   * [Inbound Wire Drawdown Request](#inbound-wire-drawdown-requests).
   *
   * @example
   * ```ts
   * const inboundWireDrawdownRequest =
   *   await client.simulations.createInboundWireDrawdownRequest(
   *     {
   *       amount: 10000,
   *       creditor_account_number: '987654321',
   *       creditor_routing_number: '101050001',
   *       currency: 'USD',
   *       recipient_account_number_id:
   *         'account_number_v18nkfqm6afpsrvy82b2',
   *     },
   *   );
   * ```
   */
  createInboundWireDrawdownRequest(
    body: SimulationCreateInboundWireDrawdownRequestParams,
    options?: RequestOptions,
  ): APIPromise<InboundWireDrawdownRequestsAPI.InboundWireDrawdownRequest> {
    return this._client.post('/simulations/inbound_wire_drawdown_requests', { body, ...options });
  }

  /**
   * Simulates an [Inbound Wire Transfer](#inbound-wire-transfers) to your account.
   *
   * @example
   * ```ts
   * const inboundWireTransfer =
   *   await client.simulations.createInboundWireTransfer({
   *     account_number_id:
   *       'account_number_v18nkfqm6afpsrvy82b2',
   *     amount: 1000,
   *   });
   * ```
   */
  createInboundWireTransfer(
    body: SimulationCreateInboundWireTransferParams,
    options?: RequestOptions,
  ): APIPromise<InboundWireTransfersAPI.InboundWireTransfer> {
    return this._client.post('/simulations/inbound_wire_transfers', { body, ...options });
  }

  /**
   * Simulates an interest payment to your account. In production, this happens
   * automatically on the first of each month.
   *
   * @example
   * ```ts
   * const transaction =
   *   await client.simulations.createInterestPayment({
   *     account_id: 'account_in71c4amph0vgo2qllky',
   *     amount: 1000,
   *   });
   * ```
   */
  createInterestPayment(
    body: SimulationCreateInterestPaymentParams,
    options?: RequestOptions,
  ): APIPromise<Transaction> {
    return this._client.post('/simulations/interest_payments', { body, ...options });
  }

  /**
   * Simulates a [Program](#programs) being created in your group. By default, your
   * group has one program called Commercial Banking. Note that when your group
   * operates more than one program, `program_id` is a required field when creating
   * accounts.
   *
   * @example
   * ```ts
   * const program = await client.simulations.createProgram({
   *   name: 'For Benefit Of',
   * });
   * ```
   */
  createProgram(
    body: SimulationCreateProgramParams,
    options?: RequestOptions,
  ): APIPromise<ProgramsAPI.Program> {
    return this._client.post('/simulations/programs', { body, ...options });
  }

  /**
   * Simulates expiring a Card Authorization immediately.
   *
   * @example
   * ```ts
   * const cardPayment =
   *   await client.simulations.expireCardAuthorization({
   *     card_payment_id: 'card_payment_nd3k2kacrqjli8482ave',
   *   });
   * ```
   */
  expireCardAuthorization(
    body: SimulationExpireCardAuthorizationParams,
    options?: RequestOptions,
  ): APIPromise<CardPaymentsAPI.CardPayment> {
    return this._client.post('/simulations/card_authorization_expirations', { body, ...options });
  }

  /**
   * Many exports are created by you via POST /exports or in the Dashboard. Some
   * exports are created automatically by Increase. For example, tax documents are
   * published once a year. In sandbox, you can trigger the arrival of an export that
   * would normally only be created automatically via this simulation.
   *
   * @example
   * ```ts
   * const _export =
   *   await client.simulations.generateTaxFormExport({
   *     category: 'form_1099_int',
   *   });
   * ```
   */
  generateTaxFormExport(
    body: SimulationGenerateTaxFormExportParams,
    options?: RequestOptions,
  ): APIPromise<ExportsAPI.Export> {
    return this._client.post('/simulations/exports', { body, ...options });
  }

  /**
   * Simulates the increment of an authorization by a card acquirer. An authorization
   * can be incremented multiple times.
   *
   * @example
   * ```ts
   * const cardPayment =
   *   await client.simulations.incrementCardAuthorization({
   *     amount: 500,
   *     card_payment_id: 'card_payment_nd3k2kacrqjli8482ave',
   *   });
   * ```
   */
  incrementCardAuthorization(
    body: SimulationIncrementCardAuthorizationParams,
    options?: RequestOptions,
  ): APIPromise<CardPaymentsAPI.CardPayment> {
    return this._client.post('/simulations/card_increments', { body, ...options });
  }

  /**
   * Simulates refunding a card transaction. The full value of the original sandbox
   * transaction is refunded.
   *
   * @example
   * ```ts
   * const transaction =
   *   await client.simulations.refundCardTransaction();
   * ```
   */
  refundCardTransaction(
    body: SimulationRefundCardTransactionParams,
    options?: RequestOptions,
  ): APIPromise<Transaction> {
    return this._client.post('/simulations/card_refunds', { body, ...options });
  }

  /**
   * Simulates the reversal of an authorization by a card acquirer. An authorization
   * can be partially reversed multiple times, up until the total authorized amount.
   * Marks the pending transaction as complete if the authorization is fully
   * reversed.
   *
   * @example
   * ```ts
   * const cardPayment =
   *   await client.simulations.reverseCardAuthorization({
   *     card_payment_id: 'card_payment_nd3k2kacrqjli8482ave',
   *   });
   * ```
   */
  reverseCardAuthorization(
    body: SimulationReverseCardAuthorizationParams,
    options?: RequestOptions,
  ): APIPromise<CardPaymentsAPI.CardPayment> {
    return this._client.post('/simulations/card_reversals', { body, ...options });
  }

  /**
   * Simulates the settlement of an authorization by a card acquirer. After a card
   * authorization is created, the merchant will eventually send a settlement. This
   * simulates that event, which may occur many days after the purchase in
   * production. The amount settled can be different from the amount originally
   * authorized, for example, when adding a tip to a restaurant bill.
   *
   * @example
   * ```ts
   * const transaction =
   *   await client.simulations.settleCardAuthorization({
   *     card_id: 'card_oubs0hwk5rn6knuecxg2',
   *     pending_transaction_id:
   *       'pending_transaction_k1sfetcau2qbvjbzgju4',
   *   });
   * ```
   */
  settleCardAuthorization(
    body: SimulationSettleCardAuthorizationParams,
    options?: RequestOptions,
  ): APIPromise<Transaction> {
    return this._client.post('/simulations/card_settlements', { body, ...options });
  }
}

/**
 * Card Financials are temporary holds placed on a customer's funds with the intent
 * to later clear a transaction.
 */
export interface CardFinancial {
  /**
   * The Card Financial identifier.
   */
  id: string;

  /**
   * Whether this financial was approved by Increase, the card network through
   * stand-in processing, or the user through a real-time decision.
   *
   * - `user` - This object was actioned by the user through a real-time decision.
   * - `increase` - This object was actioned by Increase without user intervention.
   * - `network` - This object was actioned by the network, through stand-in
   *   processing.
   */
  actioner: 'user' | 'increase' | 'network';

  /**
   * Additional amounts associated with the card authorization, such as ATM
   * surcharges fees. These are usually a subset of the `amount` field and are used
   * to provide more detailed information about the transaction.
   */
  additional_amounts: CardFinancial.AdditionalAmounts;

  /**
   * The pending amount in the minor unit of the transaction's currency. For dollars,
   * for example, this is cents.
   */
  amount: number;

  /**
   * The ID of the Card Payment this transaction belongs to.
   */
  card_payment_id: string;

  /**
   * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the
   * transaction's currency.
   *
   * - `USD` - US Dollar (USD)
   */
  currency: 'USD';

  /**
   * If the authorization was made via a Digital Wallet Token (such as an Apple Pay
   * purchase), the identifier of the token that was used.
   */
  digital_wallet_token_id: string | null;

  /**
   * The direction describes the direction the funds will move, either from the
   * cardholder to the merchant or from the merchant to the cardholder.
   *
   * - `settlement` - A regular card authorization where funds are debited from the
   *   cardholder.
   * - `refund` - A refund card authorization, sometimes referred to as a credit
   *   voucher authorization, where funds are credited to the cardholder.
   */
  direction: 'settlement' | 'refund';

  /**
   * The merchant identifier (commonly abbreviated as MID) of the merchant the card
   * is transacting with.
   */
  merchant_acceptor_id: string;

  /**
   * The Merchant Category Code (commonly abbreviated as MCC) of the merchant the
   * card is transacting with.
   */
  merchant_category_code: string;

  /**
   * The city the merchant resides in.
   */
  merchant_city: string | null;

  /**
   * The country the merchant resides in.
   */
  merchant_country: string;

  /**
   * The merchant descriptor of the merchant the card is transacting with.
   */
  merchant_descriptor: string;

  /**
   * The merchant's postal code. For US merchants this is either a 5-digit or 9-digit
   * ZIP code, where the first 5 and last 4 are separated by a dash.
   */
  merchant_postal_code: string | null;

  /**
   * The state the merchant resides in.
   */
  merchant_state: string | null;

  /**
   * Fields specific to the `network`.
   */
  network_details: CardFinancial.NetworkDetails;

  /**
   * Network-specific identifiers for a specific request or transaction.
   */
  network_identifiers: CardFinancial.NetworkIdentifiers;

  /**
   * The risk score generated by the card network. For Visa this is the Visa Advanced
   * Authorization risk score, from 0 to 99, where 99 is the riskiest. For Pulse the
   * score is from 0 to 999, where 999 is the riskiest.
   */
  network_risk_score: number | null;

  /**
   * If the authorization was made in-person with a physical card, the Physical Card
   * that was used.
   */
  physical_card_id: string | null;

  /**
   * The pending amount in the minor unit of the transaction's presentment currency.
   */
  presentment_amount: number;

  /**
   * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the
   * transaction's presentment currency.
   */
  presentment_currency: string;

  /**
   * The processing category describes the intent behind the financial, such as
   * whether it was used for bill payments or an automatic fuel dispenser.
   *
   * - `account_funding` - Account funding transactions are transactions used to
   *   e.g., fund an account or transfer funds between accounts.
   * - `automatic_fuel_dispenser` - Automatic fuel dispenser authorizations occur
   *   when a card is used at a gas pump, prior to the actual transaction amount
   *   being known. They are followed by an advice message that updates the amount of
   *   the pending transaction.
   * - `bill_payment` - A transaction used to pay a bill.
   * - `original_credit` - Original credit transactions are used to send money to a
   *   cardholder.
   * - `purchase` - A regular purchase.
   * - `quasi_cash` - Quasi-cash transactions represent purchases of items which may
   *   be convertible to cash.
   * - `refund` - A refund card authorization, sometimes referred to as a credit
   *   voucher authorization, where funds are credited to the cardholder.
   * - `cash_disbursement` - Cash disbursement transactions are used to withdraw cash
   *   from an ATM or a point of sale.
   * - `balance_inquiry` - A balance inquiry transaction is used to check the balance
   *   of an account associated with a card.
   * - `unknown` - The processing category is unknown.
   */
  processing_category:
    | 'account_funding'
    | 'automatic_fuel_dispenser'
    | 'bill_payment'
    | 'original_credit'
    | 'purchase'
    | 'quasi_cash'
    | 'refund'
    | 'cash_disbursement'
    | 'balance_inquiry'
    | 'unknown';

  /**
   * The identifier of the Real-Time Decision sent to approve or decline this
   * transaction.
   */
  real_time_decision_id: string | null;

  /**
   * The scheme fees associated with this card financial.
   */
  scheme_fees: Array<CardFinancial.SchemeFee>;

  /**
   * The terminal identifier (commonly abbreviated as TID) of the terminal the card
   * is transacting with.
   */
  terminal_id: string | null;

  /**
   * The identifier of the Transaction associated with this Transaction.
   */
  transaction_id: string;

  /**
   * A constant representing the object's type. For this resource it will always be
   * `card_financial`.
   */
  type: 'card_financial';

  /**
   * Fields related to verification of cardholder-provided values.
   */
  verification: CardFinancial.Verification;

  [k: string]: unknown;
}

export namespace CardFinancial {
  /**
   * Additional amounts associated with the card authorization, such as ATM
   * surcharges fees. These are usually a subset of the `amount` field and are used
   * to provide more detailed information about the transaction.
   */
  export interface AdditionalAmounts {
    /**
     * The part of this transaction amount that was for clinic-related services.
     */
    clinic: AdditionalAmounts.Clinic | null;

    /**
     * The part of this transaction amount that was for dental-related services.
     */
    dental: AdditionalAmounts.Dental | null;

    /**
     * The original pre-authorized amount.
     */
    original: AdditionalAmounts.Original | null;

    /**
     * The part of this transaction amount that was for healthcare prescriptions.
     */
    prescription: AdditionalAmounts.Prescription | null;

    /**
     * The surcharge amount charged for this transaction by the merchant.
     */
    surcharge: AdditionalAmounts.Surcharge | null;

    /**
     * The total amount of a series of incremental authorizations, optionally provided.
     */
    total_cumulative: AdditionalAmounts.TotalCumulative | null;

    /**
     * The total amount of healthcare-related additional amounts.
     */
    total_healthcare: AdditionalAmounts.TotalHealthcare | null;

    /**
     * The part of this transaction amount that was for transit-related services.
     */
    transit: AdditionalAmounts.Transit | null;

    /**
     * An unknown additional amount.
     */
    unknown: AdditionalAmounts.Unknown | null;

    /**
     * The part of this transaction amount that was for vision-related services.
     */
    vision: AdditionalAmounts.Vision | null;
  }

  export namespace AdditionalAmounts {
    /**
     * The part of this transaction amount that was for clinic-related services.
     */
    export interface Clinic {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The part of this transaction amount that was for dental-related services.
     */
    export interface Dental {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The original pre-authorized amount.
     */
    export interface Original {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The part of this transaction amount that was for healthcare prescriptions.
     */
    export interface Prescription {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The surcharge amount charged for this transaction by the merchant.
     */
    export interface Surcharge {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The total amount of a series of incremental authorizations, optionally provided.
     */
    export interface TotalCumulative {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The total amount of healthcare-related additional amounts.
     */
    export interface TotalHealthcare {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The part of this transaction amount that was for transit-related services.
     */
    export interface Transit {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * An unknown additional amount.
     */
    export interface Unknown {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }

    /**
     * The part of this transaction amount that was for vision-related services.
     */
    export interface Vision {
      /**
       * The amount in minor units of the `currency` field. The amount is positive if it
       * is added to the amount (such as an ATM surcharge fee) and negative if it is
       * subtracted from the amount (such as a discount).
       */
      amount: number;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the additional
       * amount's currency.
       */
      currency: string;
    }
  }

  /**
   * Fields specific to the `network`.
   */
  export interface NetworkDetails {
    /**
     * The payment network used to process this card authorization.
     *
     * - `visa` - Visa
     * - `pulse` - Pulse
     */
    category: 'visa' | 'pulse';

    /**
     * Fields specific to the `pulse` network.
     */
    pulse: unknown | null;

    /**
     * Fields specific to the `visa` network.
     */
    visa: NetworkDetails.Visa | null;
  }

  export namespace NetworkDetails {
    /**
     * Fields specific to the `visa` network.
     */
    export interface Visa {
      /**
       * For electronic commerce transactions, this identifies the level of security used
       * in obtaining the customer's payment credential. For mail or telephone order
       * transactions, identifies the type of mail or telephone order.
       *
       * - `mail_phone_order` - Single transaction of a mail/phone order: Use to indicate
       *   that the transaction is a mail/phone order purchase, not a recurring
       *   transaction or installment payment. For domestic transactions in the US
       *   region, this value may also indicate one bill payment transaction in the
       *   card-present or card-absent environments.
       * - `recurring` - Recurring transaction: Payment indicator used to indicate a
       *   recurring transaction that originates from an acquirer in the US region.
       * - `installment` - Installment payment: Payment indicator used to indicate one
       *   purchase of goods or services that is billed to the account in multiple
       *   charges over a period of time agreed upon by the cardholder and merchant from
       *   transactions that originate from an acquirer in the US region.
       * - `unknown_mail_phone_order` - Unknown classification: other mail order: Use to
       *   indicate that the type of mail/telephone order is unknown.
       * - `secure_electronic_commerce` - Secure electronic commerce transaction: Use to
       *   indicate that the electronic commerce transaction has been authenticated using
       *   e.g., 3-D Secure
       * - `non_authenticated_security_transaction_at_3ds_capable_merchant` -
       *   Non-authenticated security transaction at a 3-D Secure-capable merchant, and
       *   merchant attempted to authenticate the cardholder using 3-D Secure: Use to
       *   identify an electronic commerce transaction where the merchant attempted to
       *   authenticate the cardholder using 3-D Secure, but was unable to complete the
       *   authentication because the issuer or cardholder does not participate in the
       *   3-D Secure program.
       * - `non_authenticated_security_transaction` - Non-authenticated security
       *   transaction: Use to identify an electronic commerce transaction that uses data
       *   encryption for security however, cardholder authentication is not performed
       *   using 3-D Secure.
       * - `non_secure_transaction` - Non-secure transaction: Use to identify an
       *   electronic commerce transaction that has no data protection.
       */
      electronic_commerce_indicator:
        | 'mail_phone_order'
        | 'recurring'
        | 'installment'
        | 'unknown_mail_phone_order'
        | 'secure_electronic_commerce'
        | 'non_authenticated_security_transaction_at_3ds_capable_merchant'
        | 'non_authenticated_security_transaction'
        | 'non_secure_transaction'
        | null;

      /**
       * The method used to enter the cardholder's primary account number and card
       * expiration date.
       *
       * - `unknown` - Unknown
       * - `manual` - Manual key entry
       * - `magnetic_stripe_no_cvv` - Magnetic stripe read, without card verification
       *   value
       * - `optical_code` - Optical code
       * - `integrated_circuit_card` - Contact chip card
       * - `contactless` - Contactless read of chip card
       * - `credential_on_file` - Transaction initiated using a credential that has
       *   previously been stored on file
       * - `magnetic_stripe` - Magnetic stripe read
       * - `contactless_magnetic_stripe` - Contactless read of magnetic stripe data
       * - `integrated_circuit_card_no_cvv` - Contact chip card, without card
       *   verification value
       */
      point_of_service_entry_mode:
        | 'unknown'
        | 'manual'
        | 'magnetic_stripe_no_cvv'
        | 'optical_code'
        | 'integrated_circuit_card'
        | 'contactless'
        | 'credential_on_file'
        | 'magnetic_stripe'
        | 'contactless_magnetic_stripe'
        | 'integrated_circuit_card_no_cvv'
        | null;

      /**
       * Only present when `actioner: network`. Describes why a card authorization was
       * approved or declined by Visa through stand-in processing.
       *
       * - `issuer_error` - Increase failed to process the authorization in a timely
       *   manner.
       * - `invalid_physical_card` - The physical card read had an invalid CVV or dCVV.
       * - `invalid_cryptogram` - The card's authorization request cryptogram was
       *   invalid. The cryptogram can be from a physical card or a Digital Wallet Token
       *   purchase.
       * - `invalid_cardholder_authentication_verification_value` - The 3DS cardholder
       *   authentication verification value was invalid.
       * - `internal_visa_error` - An internal Visa error occurred. Visa uses this reason
       *   code for certain expected occurrences as well, such as Application Transaction
       *   Counter (ATC) replays.
       * - `merchant_transaction_advisory_service_authentication_required` - The merchant
       *   has enabled Visa's Transaction Advisory Service and requires further
       *   authentication to perform the transaction. In practice this is often utilized
       *   at fuel pumps to tell the cardholder to see the cashier.
       * - `payment_fraud_disruption_acquirer_block` - The transaction was blocked by
       *   Visa's Payment Fraud Disruption service due to fraudulent Acquirer behavior,
       *   such as card testing.
       * - `other` - An unspecific reason for stand-in processing.
       */
      stand_in_processing_reason:
        | 'issuer_error'
        | 'invalid_physical_card'
        | 'invalid_cryptogram'
        | 'invalid_cardholder_authentication_verification_value'
        | 'internal_visa_error'
        | 'merchant_transaction_advisory_service_authentication_required'
        | 'payment_fraud_disruption_acquirer_block'
        | 'other'
        | null;

      /**
       * The capability of the terminal being used to read the card. Shows whether a
       * terminal can e.g., accept chip cards or if it only supports magnetic stripe
       * reads. This reflects the highest capability of the terminal — for example, a
       * terminal that supports both chip and magnetic stripe will be identified as
       * chip-capable.
       *
       * - `unknown` - Unknown
       * - `terminal_not_used` - No terminal was used for this transaction.
       * - `magnetic_stripe` - The terminal can only read magnetic stripes and does not
       *   have chip or contactless reading capability.
       * - `barcode` - The terminal can only read barcodes.
       * - `optical_character_recognition` - The terminal can only read cards via Optical
       *   Character Recognition.
       * - `chip_or_contactless` - The terminal supports contact chip cards and can also
       *   read the magnetic stripe. If contact chip is supported, this value is used
       *   regardless of whether contactless is also supported.
       * - `contactless_only` - The terminal supports contactless reads but does not
       *   support contact chip. Only used when the terminal lacks contact chip
       *   capability.
       * - `no_capability` - The terminal has no card reading capability.
       */
      terminal_entry_capability:
        | 'unknown'
        | 'terminal_not_used'
        | 'magnetic_stripe'
        | 'barcode'
        | 'optical_character_recognition'
        | 'chip_or_contactless'
        | 'contactless_only'
        | 'no_capability'
        | null;
    }
  }

  /**
   * Network-specific identifiers for a specific request or transaction.
   */
  export interface NetworkIdentifiers {
    /**
     * The randomly generated 6-character Authorization Identification Response code
     * sent back to the acquirer in an approved response.
     */
    authorization_identification_response: string | null;

    /**
     * A life-cycle identifier used across e.g., an authorization and a reversal.
     * Expected to be unique per acquirer within a window of time. For some card
     * networks the retrieval reference number includes the trace counter.
     */
    retrieval_reference_number: string | null;

    /**
     * A counter used to verify an individual authorization. Expected to be unique per
     * acquirer within a window of time.
     */
    trace_number: string | null;

    /**
     * A globally unique transaction identifier provided by the card network, used
     * across multiple life-cycle requests.
     */
    transaction_id: string | null;
  }

  export interface SchemeFee {
    /**
     * The fee amount given as a string containing a decimal number.
     */
    amount: string;

    /**
     * The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the fee was
     * created.
     */
    created_at: string;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fee
     * reimbursement.
     *
     * - `USD` - US Dollar (USD)
     */
    currency: 'USD';

    /**
     * The type of fee being assessed.
     *
     * - `visa_international_service_assessment_single_currency` - International
     *   Service Assessment (ISA) single-currency is a fee assessed by the card network
     *   for cross-border transactions presented and settled in the same currency.
     * - `visa_international_service_assessment_cross_currency` - International Service
     *   Assessment (ISA) cross-currency is a fee assessed by the card network for
     *   cross-border transactions presented and settled in different currencies.
     * - `visa_authorization_domestic_point_of_sale` - Activity and charges for Visa
     *   Settlement System processing for POS (Point-Of-Sale) authorization
     *   transactions. Authorization is the process of approving or declining the
     *   transaction amount specified. The fee is assessed to the Issuer.
     * - `visa_authorization_international_point_of_sale` - Activity and charges for
     *   Visa Settlement System processing for POS (Point-Of-Sale) International
     *   authorization transactions. Authorization is the process of approving or
     *   declining the transaction amount specified. The fee is assessed to the Issuer.
     * - `visa_authorization_canada_point_of_sale` - Activity and charges for Visa
     *   Settlement System processing for Canada Region POS (Point-of-Sale)
     *   authorization transactions. Authorization is the process of approving or
     *   declining the transaction amount specified.
     * - `visa_authorization_reversal_point_of_sale` - Activity only for Visa
     *   Settlement System authorization processing of POS (Point-Of-Sale) reversal
     *   transactions. Authorization reversal represents a VSS message that undoes the
     *   complete or partial actions of a previous authorization request.
     * - `visa_authorization_reversal_international_point_of_sale` - Activity only for
     *   Visa Settlement System authorization processing of POS (Point-Of-Sale)
     *   International reversal transactions. Authorization reversal represents a VSS
     *   message that undoes the complete or partial actions of a previous
     *   authorization request.
     * - `visa_authorization_address_verification_service` - A per Address Verification
     *   Service (AVS) result fee. Applies to all usable AVS result codes.
     * - `visa_advanced_authorization` - Advanced Authorization is a fraud detection
     *   tool that monitors and risk evaluates 100 percent of US VisaNet authorizations
     *   in real-time. Activity related to Purchase (includes Signature Authenticated
     *   Visa and PIN Authenticated Visa Debit (PAVD) transactions).
     * - `visa_message_transmission` - Issuer Transactions Visa represents a charge
     *   based on total actual monthly processing (Visa transactions only) through a
     *   VisaNet Access Point (VAP). Charges are assessed to the processor for each
     *   VisaNet Access Point.
     * - `visa_account_verification_domestic` - Activity, per inquiry, related to the
     *   domestic Issuer for Account Number Verification.
     * - `visa_account_verification_international` - Activity, per inquiry, related to
     *   the international Issuer for Account Number Verification.
     * - `visa_account_verification_canada` - Activity, per inquiry, related to the
     *   US-Canada Issuer for Account Number Verification.
     * - `visa_corporate_acceptance_fee` - The Corporate Acceptance Fee is charged to
     *   issuers and is based on the monthly sales volume on Commercial and Government
     *   Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
     * - `visa_consumer_debit_acceptance_fee` - The Consumer Debit Acceptance Fee is
     *   charged to issuers and is based on the monthly sales volume of Consumer Debit
     *   or Prepaid card transactions. The cashback portion of a Debit and Prepaid card
     *   transaction is excluded from the sales volume calculation.
     * - `visa_business_debit_acceptance_fee` - The Business Acceptance Fee is charged
     *   to issuers and is based on the monthly sales volume on Business Debit,
     *   Prepaid, Credit, Charge, or Deferred Debit card transactions. The cashback
     *   portion is included in the sales volume calculation with the exception of a
     *   Debit and Prepaid card transactions.
     * - `visa_purchasing_acceptance_fee` - The Purchasing Card Acceptance Fee is
     *   charged to issuers and is based on the monthly sales volume on Commercial and
     *   Government Debit, Prepaid, Credit, Charge, or Deferred Debit card
     *   transactions.
     * - `visa_purchase_domestic` - Activity and fees for the processing of a sales
     *   draft original for a purchase transaction.
     * - `visa_purchase_international` - Activity and fees for the processing of an
     *   international sales draft original for a purchase transaction.
     * - `visa_credit_purchase_token` - Apple Pay Credit Product Token Purchase
     *   Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for
     *   Apple Pay transactions.
     * - `visa_debit_purchase_token` - Apple Pay Debit Product Token Purchase Original
     *   Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay
     *   transactions.
     * - `visa_clearing_transmission` - A per transaction fee assessed for Base II
     *   financial draft - Issuer.
     * - `visa_direct_authorization` - Issuer charge for Non-Financial OCT/AFT
     *   Authorization 0100 and Declined Financial OCT/AFT 0200 transactions.
     * - `visa_direct_transaction_domestic` - Data processing charge for Visa Direct
     *   OCTs for all business application identifiers (BAIs) other than money
     *   transfer-bank initiated (BI). BASE II transactions.
     * - `visa_service_commercial_credit` - Issuer card service fee for Commercial
     *   Credit cards.
     * - `visa_advertising_service_commercial_credit` - Issuer Advertising Service Fee
     *   for Commercial Credit cards.
     * - `visa_community_growth_acceleration_program` - Issuer Community Growth
     *   Acceleration Program Fee.
     * - `visa_processing_guarantee_commercial_credit` - Issuer Processing Guarantee
     *   for Commercial Credit cards.
     * - `pulse_switch_fee` - Pulse Switch Fee is a fee charged by the Pulse network
     *   for processing transactions on its network.
     */
    fee_type:
      | 'visa_international_service_assessment_single_currency'
      | 'visa_international_service_assessment_cross_currency'
      | 'visa_authorization_domestic_point_of_sale'
      | 'visa_authorization_international_point_of_sale'
      | 'visa_authorization_canada_point_of_sale'
      | 'visa_authorization_reversal_point_of_sale'
      | 'visa_authorization_reversal_international_point_of_sale'
      | 'visa_authorization_address_verification_service'
      | 'visa_advanced_authorization'
      | 'visa_message_transmission'
      | 'visa_account_verification_domestic'
      | 'visa_account_verification_international'
      | 'visa_account_verification_canada'
      | 'visa_corporate_acceptance_fee'
      | 'visa_consumer_debit_acceptance_fee'
      | 'visa_business_debit_acceptance_fee'
      | 'visa_purchasing_acceptance_fee'
      | 'visa_purchase_domestic'
      | 'visa_purchase_international'
      | 'visa_credit_purchase_token'
      | 'visa_debit_purchase_token'
      | 'visa_clearing_transmission'
      | 'visa_direct_authorization'
      | 'visa_direct_transaction_domestic'
      | 'visa_service_commercial_credit'
      | 'visa_advertising_service_commercial_credit'
      | 'visa_community_growth_acceleration_program'
      | 'visa_processing_guarantee_commercial_credit'
      | 'pulse_switch_fee';

    /**
     * The fixed component of the fee, if applicable, given in major units of the fee
     * amount.
     */
    fixed_component: string | null;

    /**
     * The variable rate component of the fee, if applicable, given as a decimal (e.g.,
     * 0.015 for 1.5%).
     */
    variable_rate: string | null;
  }

  /**
   * Fields related to verification of cardholder-provided values.
   */
  export interface Verification {
    /**
     * Fields related to verification of the Card Verification Code, a 3-digit code on
     * the back of the card.
     */
    card_verification_code: Verification.CardVerificationCode;

    /**
     * Cardholder address provided in the authorization request and the address on file
     * we verified it against.
     */
    cardholder_address: Verification.CardholderAddress;

    /**
     * Cardholder name provided in the authorization request.
     */
    cardholder_name: Verification.CardholderName | null;
  }

  export namespace Verification {
    /**
     * Fields related to verification of the Card Verification Code, a 3-digit code on
     * the back of the card.
     */
    export interface CardVerificationCode {
      /**
       * The result of verifying the Card Verification Code.
       *
       * - `not_checked` - No card verification code was provided in the authorization
       *   request.
       * - `match` - The card verification code matched the one on file.
       * - `no_match` - The card verification code did not match the one on file.
       */
      result: 'not_checked' | 'match' | 'no_match';
    }

    /**
     * Cardholder address provided in the authorization request and the address on file
     * we verified it against.
     */
    export interface CardholderAddress {
      /**
       * Line 1 of the address on file for the cardholder.
       */
      actual_line1: string | null;

      /**
       * The postal code of the address on file for the cardholder.
       */
      actual_postal_code: string | null;

      /**
       * The cardholder address line 1 provided for verification in the authorization
       * request.
       */
      provided_line1: string | null;

      /**
       * The postal code provided for verification in the authorization request.
       */
      provided_postal_code: string | null;

      /**
       * The address verification result returned to the card network.
       *
       * - `not_checked` - No address information was provided in the authorization
       *   request.
       * - `postal_code_match_address_no_match` - Postal code matches, but the street
       *   address does not match or was not provided.
       * - `postal_code_no_match_address_match` - Postal code does not match, but the
       *   street address matches or was not provided.
       * - `match` - Postal code and street address match.
       * - `no_match` - Postal code and street address do not match.
       * - `postal_code_match_address_not_checked` - Postal code matches, but the street
       *   address was not verified. (deprecated)
       */
      result:
        | 'not_checked'
        | 'postal_code_match_address_no_match'
        | 'postal_code_no_match_address_match'
        | 'match'
        | 'no_match'
        | 'postal_code_match_address_not_checked';
    }

    /**
     * Cardholder name provided in the authorization request.
     */
    export interface CardholderName {
      /**
       * The first name provided for verification in the authorization request.
       */
      provided_first_name: string | null;

      /**
       * The last name provided for verification in the authorization request.
       */
      provided_last_name: string | null;

      /**
       * The middle name provided for verification in the authorization request.
       */
      provided_middle_name: string | null;
    }
  }
}

/**
 * Card Refunds move money back to the cardholder. While they are usually connected
 * to a Card Settlement, an acquirer can also refund money directly to a card
 * without relation to a transaction.
 */
export interface CardRefund {
  /**
   * The Card Refund identifier.
   */
  id: string;

  /**
   * The amount in the minor unit of the transaction's settlement currency. For
   * dollars, for example, this is cents.
   */
  amount: number;

  /**
   * The ID of the Card Payment this transaction belongs to.
   */
  card_payment_id: string;

  /**
   * Cashback debited for this transaction, if eligible. Cashback is paid out in
   * aggregate, monthly.
   */
  cashback: CardRefund.Cashback | null;

  /**
   * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the
   * transaction's settlement currency.
   *
   * - `USD` - US Dollar (USD)
   */
  currency: 'USD';

  /**
   * Interchange assessed as a part of this transaction.
   */
  interchange: CardRefund.Interchange | null;

  /**
   * The merchant identifier (commonly abbreviated as MID) of the merchant the card
   * is transacting with.
   */
  merchant_acceptor_id: string;

  /**
   * The 4-digit MCC describing the merchant's business.
   */
  merchant_category_code: string;

  /**
   * The city the merchant resides in.
   */
  merchant_city: string;

  /**
   * The country the merchant resides in.
   */
  merchant_country: string;

  /**
   * The name of the merchant.
   */
  merchant_name: string;

  /**
   * The merchant's postal code. For US merchants this is always a 5-digit ZIP code.
   */
  merchant_postal_code: string | null;

  /**
   * The state the merchant resides in.
   */
  merchant_state: string | null;

  /**
   * Network-specific identifiers for this refund.
   */
  network_identifiers: CardRefund.NetworkIdentifiers;

  /**
   * The amount in the minor unit of the transaction's presentment currency.
   */
  presentment_amount: number;

  /**
   * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the
   * transaction's presentment currency.
   */
  presentment_currency: string;

  /**
   * Additional details about the card purchase, such as tax and industry-specific
   * fields.
   */
  purchase_details: CardRefund.PurchaseDetails | null;

  /**
   * The scheme fees associated with this card refund.
   */
  scheme_fees: Array<CardRefund.SchemeFee>;

  /**
   * The identifier of the Transaction associated with this Transaction.
   */
  transaction_id: string;

  /**
   * A constant representing the object's type. For this resource it will always be
   * `card_refund`.
   */
  type: 'card_refund';

  [k: string]: unknown;
}

export namespace CardRefund {
  /**
   * Cashback debited for this transaction, if eligible. Cashback is paid out in
   * aggregate, monthly.
   */
  export interface Cashback {
    /**
     * The cashback amount given as a string containing a decimal number. The amount is
     * a positive number if it will be credited to you (e.g., settlements) and a
     * negative number if it will be debited (e.g., refunds).
     */
    amount: string;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the cashback.
     *
     * - `USD` - US Dollar (USD)
     */
    currency: 'USD';
  }

  /**
   * Interchange assessed as a part of this transaction.
   */
  export interface Interchange {
    /**
     * The interchange amount given as a string containing a decimal number in major
     * units (so e.g., "3.14" for $3.14). The amount is a positive number if it is
     * credited to Increase (e.g., settlements) and a negative number if it is debited
     * (e.g., refunds).
     */
    amount: string;

    /**
     * The card network specific interchange code.
     */
    code: string | null;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the interchange
     * reimbursement.
     *
     * - `USD` - US Dollar (USD)
     */
    currency: 'USD';
  }

  /**
   * Network-specific identifiers for this refund.
   */
  export interface NetworkIdentifiers {
    /**
     * A network assigned business ID that identifies the acquirer that processed this
     * transaction.
     */
    acquirer_business_id: string;

    /**
     * A globally unique identifier for this settlement.
     */
    acquirer_reference_number: string;

    /**
     * The randomly generated 6-character Authorization Identification Response code
     * sent back to the acquirer in an approved response.
     */
    authorization_identification_response: string | null;

    /**
     * A globally unique transaction identifier provided by the card network, used
     * across multiple life-cycle requests.
     */
    transaction_id: string | null;
  }

  /**
   * Additional details about the card purchase, such as tax and industry-specific
   * fields.
   */
  export interface PurchaseDetails {
    /**
     * Fields specific to car rentals.
     */
    car_rental: PurchaseDetails.CarRental | null;

    /**
     * An identifier from the merchant for the customer or consumer.
     */
    customer_reference_identifier: string | null;

    /**
     * The state or provincial tax amount in minor units.
     */
    local_tax_amount: number | null;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the local tax
     * assessed.
     */
    local_tax_currency: string | null;

    /**
     * Fields specific to lodging.
     */
    lodging: PurchaseDetails.Lodging | null;

    /**
     * The national tax amount in minor units.
     */
    national_tax_amount: number | null;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the local tax
     * assessed.
     */
    national_tax_currency: string | null;

    /**
     * An identifier from the merchant for the purchase to the issuer and cardholder.
     */
    purchase_identifier: string | null;

    /**
     * The format of the purchase identifier.
     *
     * - `free_text` - Free text
     * - `order_number` - Order number
     * - `rental_agreement_number` - Rental agreement number
     * - `hotel_folio_number` - Hotel folio number
     * - `invoice_number` - Invoice number
     */
    purchase_identifier_format:
      | 'free_text'
      | 'order_number'
      | 'rental_agreement_number'
      | 'hotel_folio_number'
      | 'invoice_number'
      | null;

    /**
     * Fields specific to travel.
     */
    travel: PurchaseDetails.Travel | null;
  }

  export namespace PurchaseDetails {
    /**
     * Fields specific to car rentals.
     */
    export interface CarRental {
      /**
       * Code indicating the vehicle's class.
       */
      car_class_code: string | null;

      /**
       * Date the customer picked up the car or, in the case of a no-show or pre-pay
       * transaction, the scheduled pick up date.
       */
      checkout_date: string | null;

      /**
       * Daily rate being charged for the vehicle.
       */
      daily_rental_rate_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the daily rental
       * rate.
       */
      daily_rental_rate_currency: string | null;

      /**
       * Number of days the vehicle was rented.
       */
      days_rented: number | null;

      /**
       * Additional charges (gas, late fee, etc.) being billed.
       *
       * - `no_extra_charge` - No extra charge
       * - `gas` - Gas
       * - `extra_mileage` - Extra mileage
       * - `late_return` - Late return
       * - `one_way_service_fee` - One way service fee
       * - `parking_violation` - Parking violation
       */
      extra_charges:
        | 'no_extra_charge'
        | 'gas'
        | 'extra_mileage'
        | 'late_return'
        | 'one_way_service_fee'
        | 'parking_violation'
        | null;

      /**
       * Fuel charges for the vehicle.
       */
      fuel_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fuel charges
       * assessed.
       */
      fuel_charges_currency: string | null;

      /**
       * Any insurance being charged for the vehicle.
       */
      insurance_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the insurance
       * charges assessed.
       */
      insurance_charges_currency: string | null;

      /**
       * An indicator that the cardholder is being billed for a reserved vehicle that was
       * not actually rented (that is, a "no-show" charge).
       *
       * - `not_applicable` - Not applicable
       * - `no_show_for_specialized_vehicle` - No show for specialized vehicle
       */
      no_show_indicator: 'not_applicable' | 'no_show_for_specialized_vehicle' | null;

      /**
       * Charges for returning the vehicle at a different location than where it was
       * picked up.
       */
      one_way_drop_off_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the one-way
       * drop-off charges assessed.
       */
      one_way_drop_off_charges_currency: string | null;

      /**
       * Name of the person renting the vehicle.
       */
      renter_name: string | null;

      /**
       * Weekly rate being charged for the vehicle.
       */
      weekly_rental_rate_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the weekly
       * rental rate.
       */
      weekly_rental_rate_currency: string | null;
    }

    /**
     * Fields specific to lodging.
     */
    export interface Lodging {
      /**
       * Date the customer checked in.
       */
      check_in_date: string | null;

      /**
       * Daily rate being charged for the room.
       */
      daily_room_rate_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the daily room
       * rate.
       */
      daily_room_rate_currency: string | null;

      /**
       * Additional charges (phone, late check-out, etc.) being billed.
       *
       * - `no_extra_charge` - No extra charge
       * - `restaurant` - Restaurant
       * - `gift_shop` - Gift shop
       * - `mini_bar` - Mini bar
       * - `telephone` - Telephone
       * - `other` - Other
       * - `laundry` - Laundry
       */
      extra_charges:
        | 'no_extra_charge'
        | 'restaurant'
        | 'gift_shop'
        | 'mini_bar'
        | 'telephone'
        | 'other'
        | 'laundry'
        | null;

      /**
       * Folio cash advances for the room.
       */
      folio_cash_advances_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the folio cash
       * advances.
       */
      folio_cash_advances_currency: string | null;

      /**
       * Food and beverage charges for the room.
       */
      food_beverage_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the food and
       * beverage charges.
       */
      food_beverage_charges_currency: string | null;

      /**
       * Indicator that the cardholder is being billed for a reserved room that was not
       * actually used.
       *
       * - `not_applicable` - Not applicable
       * - `no_show` - No show
       */
      no_show_indicator: 'not_applicable' | 'no_show' | null;

      /**
       * Prepaid expenses being charged for the room.
       */
      prepaid_expenses_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the prepaid
       * expenses.
       */
      prepaid_expenses_currency: string | null;

      /**
       * Number of nights the room was rented.
       */
      room_nights: number | null;

      /**
       * Total room tax being charged.
       */
      total_room_tax_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the total room
       * tax.
       */
      total_room_tax_currency: string | null;

      /**
       * Total tax being charged for the room.
       */
      total_tax_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the total tax
       * assessed.
       */
      total_tax_currency: string | null;
    }

    /**
     * Fields specific to travel.
     */
    export interface Travel {
      /**
       * Ancillary purchases in addition to the airfare.
       */
      ancillary: Travel.Ancillary | null;

      /**
       * Indicates the computerized reservation system used to book the ticket.
       */
      computerized_reservation_system: string | null;

      /**
       * Indicates the reason for a credit to the cardholder.
       *
       * - `no_credit` - No credit
       * - `passenger_transport_ancillary_purchase_cancellation` - Passenger transport
       *   ancillary purchase cancellation
       * - `airline_ticket_and_passenger_transport_ancillary_purchase_cancellation` -
       *   Airline ticket and passenger transport ancillary purchase cancellation
       * - `airline_ticket_cancellation` - Airline ticket cancellation
       * - `other` - Other
       * - `partial_refund_of_airline_ticket` - Partial refund of airline ticket
       */
      credit_reason_indicator:
        | 'no_credit'
        | 'passenger_transport_ancillary_purchase_cancellation'
        | 'airline_ticket_and_passenger_transport_ancillary_purchase_cancellation'
        | 'airline_ticket_cancellation'
        | 'other'
        | 'partial_refund_of_airline_ticket'
        | null;

      /**
       * Date of departure.
       */
      departure_date: string | null;

      /**
       * Code for the originating city or airport.
       */
      origination_city_airport_code: string | null;

      /**
       * Name of the passenger.
       */
      passenger_name: string | null;

      /**
       * Indicates whether this ticket is non-refundable.
       *
       * - `no_restrictions` - No restrictions
       * - `restricted_non_refundable_ticket` - Restricted non-refundable ticket
       */
      restricted_ticket_indicator: 'no_restrictions' | 'restricted_non_refundable_ticket' | null;

      /**
       * Indicates why a ticket was changed.
       *
       * - `none` - None
       * - `change_to_existing_ticket` - Change to existing ticket
       * - `new_ticket` - New ticket
       */
      ticket_change_indicator: 'none' | 'change_to_existing_ticket' | 'new_ticket' | null;

      /**
       * Ticket number.
       */
      ticket_number: string | null;

      /**
       * Code for the travel agency if the ticket was issued by a travel agency.
       */
      travel_agency_code: string | null;

      /**
       * Name of the travel agency if the ticket was issued by a travel agency.
       */
      travel_agency_name: string | null;

      /**
       * Fields specific to each leg of the journey.
       */
      trip_legs: Array<Travel.TripLeg> | null;
    }

    export namespace Travel {
      /**
       * Ancillary purchases in addition to the airfare.
       */
      export interface Ancillary {
        /**
         * If this purchase has a connection or relationship to another purchase, such as a
         * baggage fee for a passenger transport ticket, this field should contain the
         * ticket document number for the other purchase.
         */
        connected_ticket_document_number: string | null;

        /**
         * Indicates the reason for a credit to the cardholder.
         *
         * - `no_credit` - No credit
         * - `passenger_transport_ancillary_purchase_cancellation` - Passenger transport
         *   ancillary purchase cancellation
         * - `airline_ticket_and_passenger_transport_ancillary_purchase_cancellation` -
         *   Airline ticket and passenger transport ancillary purchase cancellation
         * - `other` - Other
         */
        credit_reason_indicator:
          | 'no_credit'
          | 'passenger_transport_ancillary_purchase_cancellation'
          | 'airline_ticket_and_passenger_transport_ancillary_purchase_cancellation'
          | 'other'
          | null;

        /**
         * Name of the passenger or description of the ancillary purchase.
         */
        passenger_name_or_description: string | null;

        /**
         * Additional travel charges, such as baggage fees.
         */
        services: Array<Ancillary.Service>;

        /**
         * Ticket document number.
         */
        ticket_document_number: string | null;
      }

      export namespace Ancillary {
        export interface Service {
          /**
           * Category of the ancillary service.
           *
           * - `none` - None
           * - `bundled_service` - Bundled service
           * - `baggage_fee` - Baggage fee
           * - `change_fee` - Change fee
           * - `cargo` - Cargo
           * - `carbon_offset` - Carbon offset
           * - `frequent_flyer` - Frequent flyer
           * - `gift_card` - Gift card
           * - `ground_transport` - Ground transport
           * - `in_flight_entertainment` - In-flight entertainment
           * - `lounge` - Lounge
           * - `medical` - Medical
           * - `meal_beverage` - Meal beverage
           * - `other` - Other
           * - `passenger_assist_fee` - Passenger assist fee
           * - `pets` - Pets
           * - `seat_fees` - Seat fees
           * - `standby` - Standby
           * - `service_fee` - Service fee
           * - `store` - Store
           * - `travel_service` - Travel service
           * - `unaccompanied_travel` - Unaccompanied travel
           * - `upgrades` - Upgrades
           * - `wifi` - Wi-fi
           */
          category:
            | 'none'
            | 'bundled_service'
            | 'baggage_fee'
            | 'change_fee'
            | 'cargo'
            | 'carbon_offset'
            | 'frequent_flyer'
            | 'gift_card'
            | 'ground_transport'
            | 'in_flight_entertainment'
            | 'lounge'
            | 'medical'
            | 'meal_beverage'
            | 'other'
            | 'passenger_assist_fee'
            | 'pets'
            | 'seat_fees'
            | 'standby'
            | 'service_fee'
            | 'store'
            | 'travel_service'
            | 'unaccompanied_travel'
            | 'upgrades'
            | 'wifi'
            | null;

          /**
           * Sub-category of the ancillary service, free-form.
           */
          sub_category: string | null;
        }
      }

      export interface TripLeg {
        /**
         * Carrier code (e.g., United Airlines, Jet Blue, etc.).
         */
        carrier_code: string | null;

        /**
         * Code for the destination city or airport.
         */
        destination_city_airport_code: string | null;

        /**
         * Fare basis code.
         */
        fare_basis_code: string | null;

        /**
         * Flight number.
         */
        flight_number: string | null;

        /**
         * Service class (e.g., first class, business class, etc.).
         */
        service_class: string | null;

        /**
         * Indicates whether a stopover is allowed on this ticket.
         *
         * - `none` - None
         * - `stop_over_allowed` - Stop over allowed
         * - `stop_over_not_allowed` - Stop over not allowed
         */
        stop_over_code: 'none' | 'stop_over_allowed' | 'stop_over_not_allowed' | null;
      }
    }
  }

  export interface SchemeFee {
    /**
     * The fee amount given as a string containing a decimal number.
     */
    amount: string;

    /**
     * The [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) time at which the fee was
     * created.
     */
    created_at: string;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fee
     * reimbursement.
     *
     * - `USD` - US Dollar (USD)
     */
    currency: 'USD';

    /**
     * The type of fee being assessed.
     *
     * - `visa_international_service_assessment_single_currency` - International
     *   Service Assessment (ISA) single-currency is a fee assessed by the card network
     *   for cross-border transactions presented and settled in the same currency.
     * - `visa_international_service_assessment_cross_currency` - International Service
     *   Assessment (ISA) cross-currency is a fee assessed by the card network for
     *   cross-border transactions presented and settled in different currencies.
     * - `visa_authorization_domestic_point_of_sale` - Activity and charges for Visa
     *   Settlement System processing for POS (Point-Of-Sale) authorization
     *   transactions. Authorization is the process of approving or declining the
     *   transaction amount specified. The fee is assessed to the Issuer.
     * - `visa_authorization_international_point_of_sale` - Activity and charges for
     *   Visa Settlement System processing for POS (Point-Of-Sale) International
     *   authorization transactions. Authorization is the process of approving or
     *   declining the transaction amount specified. The fee is assessed to the Issuer.
     * - `visa_authorization_canada_point_of_sale` - Activity and charges for Visa
     *   Settlement System processing for Canada Region POS (Point-of-Sale)
     *   authorization transactions. Authorization is the process of approving or
     *   declining the transaction amount specified.
     * - `visa_authorization_reversal_point_of_sale` - Activity only for Visa
     *   Settlement System authorization processing of POS (Point-Of-Sale) reversal
     *   transactions. Authorization reversal represents a VSS message that undoes the
     *   complete or partial actions of a previous authorization request.
     * - `visa_authorization_reversal_international_point_of_sale` - Activity only for
     *   Visa Settlement System authorization processing of POS (Point-Of-Sale)
     *   International reversal transactions. Authorization reversal represents a VSS
     *   message that undoes the complete or partial actions of a previous
     *   authorization request.
     * - `visa_authorization_address_verification_service` - A per Address Verification
     *   Service (AVS) result fee. Applies to all usable AVS result codes.
     * - `visa_advanced_authorization` - Advanced Authorization is a fraud detection
     *   tool that monitors and risk evaluates 100 percent of US VisaNet authorizations
     *   in real-time. Activity related to Purchase (includes Signature Authenticated
     *   Visa and PIN Authenticated Visa Debit (PAVD) transactions).
     * - `visa_message_transmission` - Issuer Transactions Visa represents a charge
     *   based on total actual monthly processing (Visa transactions only) through a
     *   VisaNet Access Point (VAP). Charges are assessed to the processor for each
     *   VisaNet Access Point.
     * - `visa_account_verification_domestic` - Activity, per inquiry, related to the
     *   domestic Issuer for Account Number Verification.
     * - `visa_account_verification_international` - Activity, per inquiry, related to
     *   the international Issuer for Account Number Verification.
     * - `visa_account_verification_canada` - Activity, per inquiry, related to the
     *   US-Canada Issuer for Account Number Verification.
     * - `visa_corporate_acceptance_fee` - The Corporate Acceptance Fee is charged to
     *   issuers and is based on the monthly sales volume on Commercial and Government
     *   Debit, Prepaid, Credit, Charge, or Deferred Debit card transactions.
     * - `visa_consumer_debit_acceptance_fee` - The Consumer Debit Acceptance Fee is
     *   charged to issuers and is based on the monthly sales volume of Consumer Debit
     *   or Prepaid card transactions. The cashback portion of a Debit and Prepaid card
     *   transaction is excluded from the sales volume calculation.
     * - `visa_business_debit_acceptance_fee` - The Business Acceptance Fee is charged
     *   to issuers and is based on the monthly sales volume on Business Debit,
     *   Prepaid, Credit, Charge, or Deferred Debit card transactions. The cashback
     *   portion is included in the sales volume calculation with the exception of a
     *   Debit and Prepaid card transactions.
     * - `visa_purchasing_acceptance_fee` - The Purchasing Card Acceptance Fee is
     *   charged to issuers and is based on the monthly sales volume on Commercial and
     *   Government Debit, Prepaid, Credit, Charge, or Deferred Debit card
     *   transactions.
     * - `visa_purchase_domestic` - Activity and fees for the processing of a sales
     *   draft original for a purchase transaction.
     * - `visa_purchase_international` - Activity and fees for the processing of an
     *   international sales draft original for a purchase transaction.
     * - `visa_credit_purchase_token` - Apple Pay Credit Product Token Purchase
     *   Original Transactions. This fee is billed by Visa on behalf of Apple Inc. for
     *   Apple Pay transactions.
     * - `visa_debit_purchase_token` - Apple Pay Debit Product Token Purchase Original
     *   Transactions. This fee is billed by Visa on behalf of Apple Inc. for Apple Pay
     *   transactions.
     * - `visa_clearing_transmission` - A per transaction fee assessed for Base II
     *   financial draft - Issuer.
     * - `visa_direct_authorization` - Issuer charge for Non-Financial OCT/AFT
     *   Authorization 0100 and Declined Financial OCT/AFT 0200 transactions.
     * - `visa_direct_transaction_domestic` - Data processing charge for Visa Direct
     *   OCTs for all business application identifiers (BAIs) other than money
     *   transfer-bank initiated (BI). BASE II transactions.
     * - `visa_service_commercial_credit` - Issuer card service fee for Commercial
     *   Credit cards.
     * - `visa_advertising_service_commercial_credit` - Issuer Advertising Service Fee
     *   for Commercial Credit cards.
     * - `visa_community_growth_acceleration_program` - Issuer Community Growth
     *   Acceleration Program Fee.
     * - `visa_processing_guarantee_commercial_credit` - Issuer Processing Guarantee
     *   for Commercial Credit cards.
     * - `pulse_switch_fee` - Pulse Switch Fee is a fee charged by the Pulse network
     *   for processing transactions on its network.
     */
    fee_type:
      | 'visa_international_service_assessment_single_currency'
      | 'visa_international_service_assessment_cross_currency'
      | 'visa_authorization_domestic_point_of_sale'
      | 'visa_authorization_international_point_of_sale'
      | 'visa_authorization_canada_point_of_sale'
      | 'visa_authorization_reversal_point_of_sale'
      | 'visa_authorization_reversal_international_point_of_sale'
      | 'visa_authorization_address_verification_service'
      | 'visa_advanced_authorization'
      | 'visa_message_transmission'
      | 'visa_account_verification_domestic'
      | 'visa_account_verification_international'
      | 'visa_account_verification_canada'
      | 'visa_corporate_acceptance_fee'
      | 'visa_consumer_debit_acceptance_fee'
      | 'visa_business_debit_acceptance_fee'
      | 'visa_purchasing_acceptance_fee'
      | 'visa_purchase_domestic'
      | 'visa_purchase_international'
      | 'visa_credit_purchase_token'
      | 'visa_debit_purchase_token'
      | 'visa_clearing_transmission'
      | 'visa_direct_authorization'
      | 'visa_direct_transaction_domestic'
      | 'visa_service_commercial_credit'
      | 'visa_advertising_service_commercial_credit'
      | 'visa_community_growth_acceleration_program'
      | 'visa_processing_guarantee_commercial_credit'
      | 'pulse_switch_fee';

    /**
     * The fixed component of the fee, if applicable, given in major units of the fee
     * amount.
     */
    fixed_component: string | null;

    /**
     * The variable rate component of the fee, if applicable, given as a decimal (e.g.,
     * 0.015 for 1.5%).
     */
    variable_rate: string | null;
  }
}

/**
 * Card Settlements are card transactions that have cleared and settled. While a
 * settlement is usually preceded by an authorization, an acquirer can also
 * directly clear a transaction without first authorizing it.
 */
export interface CardSettlement {
  /**
   * The Card Settlement identifier.
   */
  id: string;

  /**
   * The amount in the minor unit of the transaction's settlement currency. For
   * dollars, for example, this is cents.
   */
  amount: number;

  /**
   * The Card Authorization that was created prior to this Card Settlement, if one
   * exists.
   */
  card_authorization: string | null;

  /**
   * The ID of the Card Payment this transaction belongs to.
   */
  card_payment_id: string;

  /**
   * Cashback earned on this transaction, if eligible. Cashback is paid out in
   * aggregate, monthly.
   */
  cashback: CardSettlement.Cashback | null;

  /**
   * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the
   * transaction's settlement currency.
   *
   * - `USD` - US Dollar (USD)
   */
  currency: 'USD';

  /**
   * Interchange assessed as a part of this transaction.
   */
  interchange: CardSettlement.Interchange | null;

  /**
   * The merchant identifier (commonly abbreviated as MID) of the merchant the card
   * is transacting with.
   */
  merchant_acceptor_id: string;

  /**
   * The 4-digit MCC describing the merchant's business.
   */
  merchant_category_code: string;

  /**
   * The city the merchant resides in.
   */
  merchant_city: string;

  /**
   * The country the merchant resides in.
   */
  merchant_country: string;

  /**
   * The name of the merchant.
   */
  merchant_name: string;

  /**
   * The merchant's postal code. For US merchants this is always a 5-digit ZIP code.
   */
  merchant_postal_code: string | null;

  /**
   * The state the merchant resides in.
   */
  merchant_state: string | null;

  /**
   * The card network on which this transaction was processed.
   *
   * - `visa` - Visa
   * - `pulse` - Pulse
   */
  network: 'visa' | 'pulse';

  /**
   * Network-specific identifiers for this refund.
   */
  network_identifiers: CardSettlement.NetworkIdentifiers;

  /**
   * The identifier of the Pending Transaction associated with this Transaction.
   */
  pending_transaction_id: string | null;

  /**
   * The amount in the minor unit of the transaction's presentment currency.
   */
  presentment_amount: number;

  /**
   * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the
   * transaction's presentment currency.
   */
  presentment_currency: string;

  /**
   * Additional details about the card purchase, such as tax and industry-specific
   * fields.
   */
  purchase_details: CardSettlement.PurchaseDetails | null;

  /**
   * The scheme fees associated with this card settlement.
   */
  scheme_fees: Array<CardSettlement.SchemeFee>;

  /**
   * Surcharge amount details, if applicable. The amount is positive if the surcharge
   * is added to the overall transaction amount (surcharge), and negative if the
   * surcharge is deducted from the overall transaction amount (discount).
   */
  surcharge: CardSettlement.Surcharge | null;

  /**
   * The identifier of the Transaction associated with this Transaction.
   */
  transaction_id: string;

  /**
   * A constant representing the object's type. For this resource it will always be
   * `card_settlement`.
   */
  type: 'card_settlement';

  [k: string]: unknown;
}

export namespace CardSettlement {
  /**
   * Cashback earned on this transaction, if eligible. Cashback is paid out in
   * aggregate, monthly.
   */
  export interface Cashback {
    /**
     * The cashback amount given as a string containing a decimal number. The amount is
     * a positive number if it will be credited to you (e.g., settlements) and a
     * negative number if it will be debited (e.g., refunds).
     */
    amount: string;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the cashback.
     *
     * - `USD` - US Dollar (USD)
     */
    currency: 'USD';
  }

  /**
   * Interchange assessed as a part of this transaction.
   */
  export interface Interchange {
    /**
     * The interchange amount given as a string containing a decimal number in major
     * units (so e.g., "3.14" for $3.14). The amount is a positive number if it is
     * credited to Increase (e.g., settlements) and a negative number if it is debited
     * (e.g., refunds).
     */
    amount: string;

    /**
     * The card network specific interchange code.
     */
    code: string | null;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the interchange
     * reimbursement.
     *
     * - `USD` - US Dollar (USD)
     */
    currency: 'USD';
  }

  /**
   * Network-specific identifiers for this refund.
   */
  export interface NetworkIdentifiers {
    /**
     * A network assigned business ID that identifies the acquirer that processed this
     * transaction.
     */
    acquirer_business_id: string;

    /**
     * A globally unique identifier for this settlement.
     */
    acquirer_reference_number: string;

    /**
     * The randomly generated 6-character Authorization Identification Response code
     * sent back to the acquirer in an approved response.
     */
    authorization_identification_response: string | null;

    /**
     * A globally unique transaction identifier provided by the card network, used
     * across multiple life-cycle requests.
     */
    transaction_id: string | null;
  }

  /**
   * Additional details about the card purchase, such as tax and industry-specific
   * fields.
   */
  export interface PurchaseDetails {
    /**
     * Fields specific to car rentals.
     */
    car_rental: PurchaseDetails.CarRental | null;

    /**
     * An identifier from the merchant for the customer or consumer.
     */
    customer_reference_identifier: string | null;

    /**
     * The state or provincial tax amount in minor units.
     */
    local_tax_amount: number | null;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the local tax
     * assessed.
     */
    local_tax_currency: string | null;

    /**
     * Fields specific to lodging.
     */
    lodging: PurchaseDetails.Lodging | null;

    /**
     * The national tax amount in minor units.
     */
    national_tax_amount: number | null;

    /**
     * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the local tax
     * assessed.
     */
    national_tax_currency: string | null;

    /**
     * An identifier from the merchant for the purchase to the issuer and cardholder.
     */
    purchase_identifier: string | null;

    /**
     * The format of the purchase identifier.
     *
     * - `free_text` - Free text
     * - `order_number` - Order number
     * - `rental_agreement_number` - Rental agreement number
     * - `hotel_folio_number` - Hotel folio number
     * - `invoice_number` - Invoice number
     */
    purchase_identifier_format:
      | 'free_text'
      | 'order_number'
      | 'rental_agreement_number'
      | 'hotel_folio_number'
      | 'invoice_number'
      | null;

    /**
     * Fields specific to travel.
     */
    travel: PurchaseDetails.Travel | null;
  }

  export namespace PurchaseDetails {
    /**
     * Fields specific to car rentals.
     */
    export interface CarRental {
      /**
       * Code indicating the vehicle's class.
       */
      car_class_code: string | null;

      /**
       * Date the customer picked up the car or, in the case of a no-show or pre-pay
       * transaction, the scheduled pick up date.
       */
      checkout_date: string | null;

      /**
       * Daily rate being charged for the vehicle.
       */
      daily_rental_rate_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the daily rental
       * rate.
       */
      daily_rental_rate_currency: string | null;

      /**
       * Number of days the vehicle was rented.
       */
      days_rented: number | null;

      /**
       * Additional charges (gas, late fee, etc.) being billed.
       *
       * - `no_extra_charge` - No extra charge
       * - `gas` - Gas
       * - `extra_mileage` - Extra mileage
       * - `late_return` - Late return
       * - `one_way_service_fee` - One way service fee
       * - `parking_violation` - Parking violation
       */
      extra_charges:
        | 'no_extra_charge'
        | 'gas'
        | 'extra_mileage'
        | 'late_return'
        | 'one_way_service_fee'
        | 'parking_violation'
        | null;

      /**
       * Fuel charges for the vehicle.
       */
      fuel_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the fuel charges
       * assessed.
       */
      fuel_charges_currency: string | null;

      /**
       * Any insurance being charged for the vehicle.
       */
      insurance_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the insurance
       * charges assessed.
       */
      insurance_charges_currency: string | null;

      /**
       * An indicator that the cardholder is being billed for a reserved vehicle that was
       * not actually rented (that is, a "no-show" charge).
       *
       * - `not_applicable` - Not applicable
       * - `no_show_for_specialized_vehicle` - No show for specialized vehicle
       */
      no_show_indicator: 'not_applicable' | 'no_show_for_specialized_vehicle' | null;

      /**
       * Charges for returning the vehicle at a different location than where it was
       * picked up.
       */
      one_way_drop_off_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the one-way
       * drop-off charges assessed.
       */
      one_way_drop_off_charges_currency: string | null;

      /**
       * Name of the person renting the vehicle.
       */
      renter_name: string | null;

      /**
       * Weekly rate being charged for the vehicle.
       */
      weekly_rental_rate_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the weekly
       * rental rate.
       */
      weekly_rental_rate_currency: string | null;
    }

    /**
     * Fields specific to lodging.
     */
    export interface Lodging {
      /**
       * Date the customer checked in.
       */
      check_in_date: string | null;

      /**
       * Daily rate being charged for the room.
       */
      daily_room_rate_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the daily room
       * rate.
       */
      daily_room_rate_currency: string | null;

      /**
       * Additional charges (phone, late check-out, etc.) being billed.
       *
       * - `no_extra_charge` - No extra charge
       * - `restaurant` - Restaurant
       * - `gift_shop` - Gift shop
       * - `mini_bar` - Mini bar
       * - `telephone` - Telephone
       * - `other` - Other
       * - `laundry` - Laundry
       */
      extra_charges:
        | 'no_extra_charge'
        | 'restaurant'
        | 'gift_shop'
        | 'mini_bar'
        | 'telephone'
        | 'other'
        | 'laundry'
        | null;

      /**
       * Folio cash advances for the room.
       */
      folio_cash_advances_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the folio cash
       * advances.
       */
      folio_cash_advances_currency: string | null;

      /**
       * Food and beverage charges for the room.
       */
      food_beverage_charges_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the food and
       * beverage charges.
       */
      food_beverage_charges_currency: string | null;

      /**
       * Indicator that the cardholder is being billed for a reserved room that was not
       * actually used.
       *
       * - `not_applicable` - Not applicable
       * - `no_show` - No show
       */
      no_show_indicator: 'not_applicable' | 'no_show' | null;

      /**
       * Prepaid expenses being charged for the room.
       */
      prepaid_expenses_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the prepaid
       * expenses.
       */
      prepaid_expenses_currency: string | null;

      /**
       * Number of nights the room was rented.
       */
      room_nights: number | null;

      /**
       * Total room tax being charged.
       */
      total_room_tax_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the total room
       * tax.
       */
      total_room_tax_currency: string | null;

      /**
       * Total tax being charged for the room.
       */
      total_tax_amount: number | null;

      /**
       * The [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) code for the total tax
       * assessed.
       */
      total_tax_currency: string | null;
    }

    /**
     * Fields specific to travel.
     */
    export interface Travel {
      /**
       * Ancillary purchases in addition to the airfare.
       */
      ancillary: Travel.Ancillary | null;

      /**
       * Indicates the computerized reservation system used to book the ticket.
       */
      computerized_reservation_system: string | null;

      /**
       * Indicates the reason for a credit to the cardholder.
       *
       * - `no_credit` - No credit
       * - `passenger_transport_ancillary_purchase_cancellation` - Passenger transport
       *   ancillary purchase cancellation
       * - `airline_ticket_and_passenger_transport_ancillary_purchase_cancellation` -
       *   Airline ticket and passenger transport ancillary purchase cancellation
       * - `airline_ticket_cancellation` - Airline ticket cancellation
       * - `other` - Other
       * - `partial_refund_of_airline_ticket` - Partial refund of airline ticket
       */
      credit_reason_indicator:
        | 'no_credit'
        | 'passenger_transport_ancillary_purchase_cancellation'
        | 'airline_ticket_and_passenger_transport_ancillary_purchase_cancellation'
        | 'airline_ticket_cancellation'
        | 'other'
        | 'partial_refund_of_airline_ticket'
        | null;

      /**
       * Date of departure.
       */
      departure_date: string | null;

      /**
       * Code for the originating city or airport.
       */
      origination_city_airport_code: string | null;

      /**
       * Name of the passenger.
       */
      passenger_name: string | null;

      /**
       * Indicates whether this ticket is non-refundable.
       *
       * - `no_restrictions` - No restrictions
       * - `restricted_non_refundable_ticket` - Restricted non-refundable ticket
       */
      restricted_ticket_indicator: 'no_restrictions' | 'restricted_non_refundable_ticket' | null;

      /**
       * Indicates why a ticket was changed.
       *
       * - `none` - None
       * - `change_to_existing_ticket` - Change to existing ticket
       * - `new_ticket` - New ticket
       */
      ticket_change_indicator: 'none' | 'change_to_existing_ticket' | 'new_ticket' | null;

      /**
       * Ticket number.
       */
      ticket_number: string | null;

      /**
       * Code for the travel agency if the ticket was issued by a travel agency.
       */
      travel_agency_code: string | null;

      /**
       * Name of the travel agency if the ticket was issued by a travel agency.
       */
      travel_agency_name: string | null;

      /**
       * Fields specific to each leg of the journey.
       */
      trip_legs: Array<Travel.TripLeg> | null;
    }

    export namespace Travel {
      /**
       * Ancillary purchases in addition to the airfare.
       */
      export interface Ancillary {
        /**
         * If this purchase has a connection or relationship to another purchase, such as a
         * baggage fee for a passenger transport ticket, this field should contain the
         * ticket document number for the other purchase.
         */
        connected_ticket_document_number: string | null;

        /**
         * Indicates the reason for a credit to the cardholder.
         *
         * - `no_credit` - No credit
         * - `passenger_transport_ancillary_purchase_cancellation` - Passenger transport
         *   ancillary purchase cancellation
         * - `airline_ticket_and_passenger_transport_ancillary_purchase_cancellation` -
         *   Airline ticket and passenger transport ancillary purchase cancellation
         * - `other` - Other
         */
        credit_reason_indicator:
          | 'no_credit'
          | 'passenger_transport_ancillary_purchase_cancellation'
          | 'airline_ticket_and_passenger_transport_ancillary_purchase_cancellation'
          | 'other'
          | null;

        /**
         * Name of the passenger or description of the ancillary purchase.
         */
        passenger_name_or_description: string | null;

        /**
         * Additional travel charges, such as baggage fees.
         */
        services: Array<Ancillary.Service>;

        /**
         * Ticket document number.
         */
        ticket_document_number: string | null;
      }

      export namespace Ancillary {
        export interface Service {
          /**
           * Category of the ancillary service.
           *
           * - `none` - None
           * - `bundled_service` - Bundled service
           * - `baggage_fee` - Baggage fee
           * - `change_fee` - Change fee
           * - `cargo` - Cargo
           * - `carbon_offset` - Carbon offset
           * - `frequent_flyer` - Frequent flyer
           * - `gift_card` - Gift card
           * - `ground_transport` - Ground transport
           * - `in_flight_entertainment` - In-flight entertainment
           * - `lounge` - Lounge
           * - `medical` - Medical
           * - `meal_beverage` - Meal beverage
           * - `other` - Other
           * - `passenger_assist_fee` - Passenger assist fee
           * - `pets` - Pets
           * - `seat_fees` - Seat fees
           * - `standby` - Standby
           * - `service_fee` - Service fee
           * - `store` - Store
[...]
